<style>
        button{
        cursor: pointer;
        font-weight: bold;
            font-size: large;
            font-style:normal;
    
        }
        button:hover{
            opacity: 0.7;
        }
        button:active{
    background-color:pink;
}


        .header{
            color:aquamarine;
            text-align: center;

        }
        #coheader{
            color:wheat;
            text-align: center;
        }
        body{
            background-image: url('https://media.istockphoto.com/vectors/studio-room-in-dark-blue-background-with-copy-spaceluxury-gallery-vector-id1326304939?k=20&m=1326304939&s=612x612&w=0&h=XK9D-KMpzslC2RXLYhLU0H0GsBS00RHtecHJOlZIh0U=');
            background-repeat: no-repeat;
            background-size: cover;
        }

        .navigation_div{

                width: 100%;
                padding: 15px;
                text-align: center;
                background-color:black;
                position:sticky;
                top: 0%;
                
            

                }
                .navigation{
                    width: 5%;
                    border:none;
                    background-color:black;
                    margin-right: 5%;
                    margin-left: 8%;
                    color: white;    


                }
                .about{
                   width: 40%;
                    /* display:flex; */
                    /* justify-content: center; */
                    /* display: flex;
                    flex-direction: row;
                    justify-content: center; */
                    line-height: 25px;
                    background-color:blanchedalmond;
                    display: inline-block;
                    /* margin-right; */
                    border-radius:20px ;
                    padding: 10px;
                    margin: 20px;
                    /* color:wheat; */
                   
                        
                }
               .photo_div{
                width: 20%;
                display: inline-block;
                vertical-align:top;
            
                margin-left: 20%;
              
                
               }
                .photo{
                    width: 80%;
                    border-radius: 50%;
                }
                .jnv_div{
                    width: 15%;
                    
                    display: inline-block;
                    /* background-color: pink; */
                    margin-right: 15%;
                    margin-left: 15%;
                }
                .jnv{
                    width: 100%;
                    border-radius: 20%;


                }
                #home_id{
                    margin-left: 0%;
                }
                .jnv_text{
                   text-align: center;
                   color: aliceblue;

                }
                .manit_div{
                    width: 25%;
                    display: inline-block;
                    /* background-color: pink; */
                    vertical-align: top;

                }
                .manit{
                    width: 80%;

                }
                .manit_text{
                    text-align: center;
                    color: aliceblue;
                }
                .c_div{
                    width: 15%;
                    /* background-color: pink; */
                    display: inline-block;
                    margin-left: 20%;
                    margin-right: 5%;
                }
                .c{
                    width: 100%;
                   
                }
                .cpp_div{
                    width: 15%;
                    display: inline-block;
                    /* background-color: pink; */
                    margin-right: 5%;
                }
                .cpp{
                    width: 100%;
                }
                .psolve_div{
                    width: 15%;
                    display: inline-block;
                    vertical-align: top;
                    vertical-align:top;
                    margin-top: 3%;
                    /* background-color: pink; */
                }
                .psolve{
                    width: 100%;
                }
                .ambedkar_div{
                    width: 30%;
                    /* background-color: pink; */
                    display: inline-block;
                    margin-left: 15%;
                    margin-right: 15%;

                }
                .ambedkar{
                    width: 100%;
                   
                }
                .modi_div{
                    width: 28%;
                    display: inline-block;
                    /* background-color: pink; */
                    vertical-align: top;
                }
                .modi{
                    width: 100%;
                }
               
       
                .github_div{
                    width: 10%;

                    /* background-color: pink; */
                    display: inline-block;
                    margin-left: 30%;
                    vertical-align: top;
                    margin-right: 3%;
                    margin-top: 10%;
                    

                }
                .github{
                    width: 100%;
                    
                }
                .linkedin_div{
                    width: 10%;
                    /* background-color: pink; */
                    display: inline-block;
                    vertical-align: top;
                    margin-right: 2%;
                    margin-top: 10%;

                }
                .linkedin{
                    width: 70%;

                }

        
                .codechef_div{
                    width: 10%;

                    vertical-align: top;
                    /* background-color: pink; */
                    display: inline-block;
                    margin-top: 10%;


                }
                .codechef{
                    width: 70%;

                }
        
                .codeforces_div{
                    width: 10%;
                    vertical-align: top;
                    margin-top: 10%;

                    /* background-color: pink; */
                    display: inline-block;

                }
                .codeforces{
                    width: 100%;
                }
                #about_{
                    color: wheat;
                }
                #jnv_div_{
                    color: wheat;
                }
                #c_div_{
                    color: wheat;
                }
                #int{
                    color: wheat;
                }
                #last{
                    color:aliceblue;
                    font-size: 30px;

                }
                </style>
